* {
  box-sizing: border-box;
  }

  html, body {
    height: 100%;
    margin: 0;
    background: #484848;
    font-family: 'Roboto', sans-serif;
    overflow-x: auto;
  }
  /*
  body {
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-image: url(./bg.jpeg);
    background-position: top center !important;
    background-attachment: fixed;
  }*/

  textarea, input, button { 
    outline: none; 
  }

  input[type=search] {
    border:#303030 2px solid; /*on activ #8d8d8d */
    border-radius: 100px;
    padding: 5%;
    background: inherit;
    color: inherit;
    transition: 0.8s;
  }

  input[type=search]:focus, input[type=search]:hover {
    border-color: #8d8d8d;
    transform: scale(1.05);
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  /**
  *
  *   NAVBAR
  *
  */

  #navbar {
    bottom: 0;
    left: 0;
    padding-bottom: 1em;
    position: fixed;
    top: 0;
    width: 300px;
    background: #212121;
    color: #e6e6e8;
    overflow-y: auto;
    overflow-x: none;
  }

  .nav {
    position: relative;
    display:block;
    height: 99%;
    margin: 0px;
  }

  .nav-logo {
    padding: 1em;
    font-size: 1.5em;
    cursor:pointer;
    text-align: center;
    transition: 1s;
  }

  .nav-logo:hover {
    color: #e040fb;
    transform: scale(1.5);
  }

  .search-item {
    text-align: center;
  }

  .nav-item {
    clear: both;
    padding: 1em 0;
    border-bottom: #303030 1px solid;
  }

  .nav-item:last-of-type {
    border-bottom: #303030 0px solid;
    margin-bottom: 1em;
    margin-top: 2em;
  }

  .nav-item div {
    padding: 0 1em;
  }

  .search {
    width: 90%;
  }

  .title {
    font-size: 1em;
    margin-bottom: 10px;
  }

  .title a {
    display: inline-block;
    transition: 0.8s
  }

  .title a:hover {
    color:  #e040fb;
    transform: translate(10px) scale(1.2);
  }

  .title .fa:hover {
    color:  #e040fb;
    transform: scale(1.5);
  }

  .item {
    transition: 0.8s;
  }

  .item a{
    display: inline-block;
    width: 80%;
    transition: 0.8s;
  }

  .item a:nth-child(2) {
    width: 18%;
    text-align: center;
  }

  .item:hover {
    background: #313131
  }

  .item a:nth-child(1):hover{
    color:  #e040fb;
    padding-left: 20px;
  }

  .item a:nth-child(2):hover {
    color:  #e040fb;
    transform: scale(1.2)
  }

  .more {
    margin-top: 10px;
    font-size: 80%;
  }

  .more a {
    transition: 0.8s;
  }

  .more a:hover{
    color:  #e040fb;
  }

  
  .nav-item:last-child:hover div {
    background: #212121;
  }

  .nav-item:last-child .item a:nth-child(1):hover {
    padding-left: 30px;
    transform: scale(1.3)
  }

  .nav-item:last-child a:hover {
    transform: scale(1.5);
  }



  /**
  *
  *   CONTENT
  *
  */

  #content {
    margin-left: 300px;
    min-width: 400px;
    padding: 1em;
    height: auto;
    color:#06000a;
    position: relative;
    column-count: 2;
    column-gap: 1em;
  }

  .card {
    width: 100%;
    max-width: 800px;
    background: rgba(255,255,255,0.95);
    padding: 0.5em;
    display:inline-block;
    margin: 0 0 1em;
    transition: 0.5s;
  }

  .card:hover, .card:focus {
    background: rgba(255,255,255,1);
  }

  .one {
    min-height: 200px;
    order: 1
  }
  
  .two {
    min-height: 400px;
    order: 1
  }

  .three {
    min-height: 250px;
    order: 2
  }

  .four {
    min-height: 300px;
    order: 2
  }

  .five {
    min-height: 220px;
    order: 2
  }

  /* for search results */
  .content-overlay {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    /* display:  block*/
    display: none;
  }
  .content-modal {
    width:75%;
    min-height: 200px;
    position: absolute;
    top: 10%;
    left: 12.5%;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 11;
    /*
    display:inline-block;
    */
    display:none;
  }

  @media only screen and (max-width: 1100px) {
    #content {
      column-count: 1;
    }
    .two {
      order: 2;
    }
    .three {
      order:1
    }
    .four {
      order:1
    }
    .five {
      order:1
    }
  }

  /* width */
  ::-webkit-scrollbar {
      width: 10px;
  }

  /* Track 
  ::-webkit-scrollbar-track {
  }*/
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bbb; 
  }