* {
  box-sizing: border-box;
  }

  html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(#0097A7,#202020);
    font-family: 'Roboto', sans-serif;
    overflow-x: auto;
  }
  /*
  body {
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-image: url(./bg.jpeg);
    background-position: top center !important;
    background-attachment: fixed;
  }*/

  textarea, input, button { 
    outline: none; 
  }

  input[type=search] {
    border:#757575 2px solid; /*on activ #8d8d8d */
    border-radius: 100px;
    padding: 5%;
    background: inherit;
    color: inherit;
    transition: 0.8s;
  }

  input[type=search]:focus, input[type=search]:hover {
    border-color: #BDBDBD;
    transform: scale(1.05);
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .small {
    font-size: 75%;
  }

  /**
  *
  *   NAVBAR
  *
  */

  #navbar {
    bottom: 0;
    left: 0;
    padding-bottom: 1em;
    position: fixed;
    top: 0;
    width: 300px;
    background: rgba(0,0,0,0.8);
    color: #e6e6e8;
    overflow-y: auto;
    overflow-x: none;
  }

  .nav {
    position: relative;
    display:block;
    height: 100%;
    margin: 0px;
  }

  .nav-logo {
    padding: 1em;
    font-size: 1.5em;
    cursor:pointer;
    text-align: center;
    transition: 1s;
  }

  .nav-logo:hover {
    color: #00BCD4;
    transform: scale(1.5);
  }

  .search-item {
    text-align: center;
  }

  .nav-item {
    clear: both;
    padding: 1em 0;
    border-bottom: rgba(255,255,255,0.3)  1px solid;
  }

  .nav-item:last-of-type {
    border-width: 0px;
    margin-bottom: 1em;
    margin-top: 2em;
  }

  .nav-item div {
    padding: 0 1em;
  }

  .search {
    width: 90%;
  }

  .nav-item .title {
    font-size: 1.3em;
    margin-bottom: 10px;
    padding: 0 0.7em;
  }

  .nav-item .title a {
    display: inline-block;
    transition: 0.8s
  }

  .nav-item .title a:hover {
    color:  #00BCD4;
    padding-left: 10px;
    transform: scale(1.2);
  }

  .nav-item .title .fa:hover {
    color:  #00BCD4;
    transform: scale(1.5);
  }

  .item {
    transition: 0.8s;
  }

  .item a{
    display: inline-block;
    width: 100%;
    transition: 0.8s;
  }

  .my-lists .item a, .nav-profile .item a{
    width: 80%;
  }

  .item a:nth-child(2) {
    width: 18%;
    text-align: center;
  }

  .item:hover {
    background: rgba(255,255,255,0.08);
  }

  .item a:nth-child(1):hover{
    color:  #00BCD4;
  }

  .item a:nth-child(2):hover {
    color:  #00BCD4;
    transform: scale(1.2)
  }

  .more {
    margin-top: 10px;
    font-size: 80%;
  }

  .more a {
    transition: 0.8s;
  }

  .more a:hover{
    color:  #00BCD4;
  }

  
  .nav-item:last-child:hover div {
    background: rgba(255,255,255,0);
  }

  .nav-item:last-child a:last-child:hover {
    transform: scale(1.8);
  }



  /**
  *
  *   CONTENT
  *
  */

  #content {
    margin-left: 300px;
    min-width: 400px;
    padding: 1em;
    height: auto;
    color:#06000a;
    position: relative;
    column-count: 2;
    column-gap: 1em;
    text-align: center;
  }

  .card {
    width: 100%;
    min-width: 570px;
    max-width: 600px;
    background: rgba(255,255,255,0.9);
    display:inline-block;
    margin: 0 0 1em;
    transition: 0.5s;
    text-align: left;
  }

  .card:hover, .card:focus {
    background: rgba(255,255,255,1);
  }

  .three {
    min-height: 250px;
    order: 2
  }

  .four {
    min-height: 300px;
    order: 2
  }

  .five {
    min-height: 220px;
    order: 2
  }

  /*
   *
   *  SOCIAL NETWORKS BUTTONS
   *
   */




  /* 
   *
   *  BASIC PROFILE COMPONENT
   *
   */

  .profile .row {
    display: flex;
  }

  .avatar{
    flex: 1;

    /*TODO FIX THIS WORK AROUND*/
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;

    margin: 0.5em;
    background: #686868;
    vertical-align: middle;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .profile .info {
    flex: 1;
    vertical-align: middle;
    text-align: right;
    margin-top: 1em;
    margin-right: 1.5em;
  }

  .info .name {
    font-size: 150%;
    margin-bottom: 0.5em;
  }

  .info .activity {
    font-size: 80%;
    margin-bottom: 1em;
  }


  button {
    border: none;
  }

  .info .buttons {
    display: block;
    width: 100%;

  }

  .google-btn {
    min-width: 180px;
    background: #4285f4;
    text-align: left;
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    margin: 5px 0;
  }
  
  .google-btn span {
    padding: 10px;
  }

  .facebook-btn {
    min-width: 180px;
    background: #48629b;
    text-align: left;
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    margin: 5px 0;
  }

  .facebook-btn span {
    padding: 10px;
  }


  /*
   *
   *  DIV TABLE
   *
   */

  .title{
    padding: 10px;
    font-size: 175%;
  }

  .div-table {
    display: table;
    width: 100%;
  }

  .div-table-row {
    padding: 10px 0;
    display: table-row;
    width: auto;
    clear: both;
  }

  .div-table-col {
    padding: 5px 10px;
    float: left;
    display: table-column;
  }

  .div-table-row:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .more {
    padding: 10px;
    padding-top: 0;
  }


  /*
   *
   *  MY LISTS TOP 10
   *
   */

   .my-lists-view .div-table-col:first-child {
    width: 88%;
  }
   
  .my-lists-view .div-table-col:nth-child(2), .my-lists-view .div-table-col:nth-child(3) {
    width: 5%;
    text-align: center;
  }

  /*
   *
   *  MY RATINGS
   *
   */

  .my-ratings .div-table-col:first-child {
    width: 50%;
  }
   
  .my-ratings .div-table-col:nth-child(2) {
    width: 25%;
  }

  .my-ratings .div-table-col:nth-child(3) {
    width: 25%;
    text-align: center;
  }





  /* CONTENT OVERLAY */
  .content-overlay {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    /* display:  block*/
    display: none;
  }
  .content-modal {
    width:75%;
    min-height: 200px;
    position: absolute;
    top: 10%;
    left: 12.5%;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 11;
    /*
    display:inline-block;
    */
    display:none;
  }




  /* 
   *
   *  SCROLL BAR
   *
   */
  ::-webkit-scrollbar {
      width: 10px;
  }

  /* Track 
  ::-webkit-scrollbar-track {
  }*/
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.6); 
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.9); 
  } 
  



  /*
   *
   *  DIFERENT SCREENS
   *
   */

  @media only screen and (max-width: 1500px) {
    #content {
      column-count: 1;
    }
  }

  /*
   *  navbar to popup
   */
  @media only screen and (max-width: 950px) {
  }